.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-area: footer;
    color: #ffde8a;

    .snfooter {
        margin-top: 20px;

    .encabezado-footer {
        display: flex;
        justify-content: space-around;
        border-top: 3px solid #ffde8a;

            .navbar-footer {
                list-style: none;
                text-align: left;
                margin-bottom: 32px;

                .nav-foot {
                    text-decoration: none;
                    color: #ffde8a;

    .encuentranos {
    margin-top: 10px;
                    }
                }
            }
        }
    }
}