header {
    background-color: rgb(63, 12, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;

    h1 {
        color: rgb(255, 222, 138);
        letter-spacing: 5px;

        nav {
            ul {
                list-style: none;
                display: flex;
                background-color: rgb(63, 12, 32);
                margin: 0;

                li {
                    margin-left: 10px;
                    margin-right: 10px;

                    &:hover {
                        background-color: $primarycolor;
                        transform: scale(1.2);
                        transition: all 2s;

                        a {
                            text-decoration: none;
                            color: rgb(255, 222, 138);
                        }
                    }
                }
            }
        }
    }
}