* {
  padding: 0;
  margin: 0; }

body {
  background-color: #c4c4c4;
  min-height: 100vh; }
  body grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    gap: 0px;
    grid-template-areas: "header" "main" "footer"; }

header {
  background-color: #3f0c20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header; }
  header h1 {
    color: #ffde8a;
    letter-spacing: 5px; }
    header h1 nav ul {
      list-style: none;
      display: flex;
      background-color: #3f0c20;
      margin: 0; }
      header h1 nav ul li {
        margin-left: 10px;
        margin-right: 10px; }
        header h1 nav ul li:hover {
          background-color: #c4c4c4; }
          header h1 nav ul li:hover a {
            text-decoration: none;
            color: #ffde8a; }

section {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: white;
  grid-area: main; }
  section div {
    color: white;
    text-align: center;
    margin-top: 15px;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    padding-top: 35px; }
    section div h2 {
      color: #127279;
      text-align: center; }
      section div h2 h3 {
        color: #127279;
        text-align: center; }
        section div h2 h3 p {
          text-align: center; }
          section div h2 h3 p:hover {
            background-color: #c4c4c4;
            transform: scale(1.2);
            transition: all 2s; }

.footer {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  color: #ffde8a; }
  .footer div p {
    color: #ffde8a;
    margin-bottom: 15px; }
    .footer div p div a {
      display: flex;
      margin-top: 15px; }
