*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
    body{
background-color: rgb(196, 196, 196);
min-height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* HEADER */
header {
    background-color: rgb(63, 12, 32);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    grid-area: header;
}

.header h1{
    color: rgb(255, 222, 138);
    letter-spacing: 5px;
}

.header h1:hover{
    transform: scale(2);
    transition: all 2s;
}

.header nav ul{
    list-style: none;
    display: flex;
}

.header nav ul li{
    margin-left: 15px;
    margin-right: 10px;
}

.header nav ul li a{
    text-decoration: none;
    color:rgb(255, 222, 138);
}

.header nav ul li:hover{
    transform: scale(1.5);
    transition: all 2s;
}

/* MAIN */
.main section{
    display:flexbox;
    list-style: none;
    text-align: left;    
    color: white;
    grid-area: main;
}

h2{
    color: rgb(18, 114, 121);
    text-align: center;
}

h3{
    color:rgb(18, 114, 121);
    text-align: center;
}

.main section ul div:hover{
    transform:translateX(200px);
    transition: all 5s;
}
/* FOOTER */
.footer {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    grid-area: footer;
}

.footer p{
    color: rgb(255, 222, 138);
}

.footer ul{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    text-align: left;
    color:rgb(255, 222, 138);
}

/**** PRIMER BREAKPOINT ****/

@media(max-width:768px){
    header{
    display:block;
    text-align: center;
    padding-bottom: 15px;
    }

    .header h1{
    display: none;
    }

    .header nav ul li a{
    padding: 10px 30px;
    }
}

/****SEGUNDO BREAKPOINT ****/
@media(min-width:769px) and (max-width:923px){
    .header{
    display: block;
    text-align: center;
    padding-bottom: 15px;
    }

    .header h1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    }

    .header nav ul li a{
    padding: 20px 50px;
    }
}